<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card title-line">
          <div class="card-header">
            <h2>Bem vindo ao Controlar 27 Táxi</h2>
            <p class="f-m-light mt-1">O espaço do táxista.</p>
          </div>
          <div class="card-body">
            <p><strong>Controle: </strong> Tudo que você precisa para controlar e gerenciar seu dia-a-dia..</p>
            <p><strong>Transparência: </strong> Todas as informações da Associação na suas mãos.</p>
            <p><strong>Informação: </strong> Fique por dentro de todas as novidades e noticias da Associação e do mundo dos Taxistas.</p>
          </div>
        </div>
      </div>
    </div>
  </div>