/* FONT PATH
 * -------------------------- */

@font-face {
	font-family: 'themify';
	src:url('../../fonts/themify/themify.eot?-fvbane');
	src:url('../../fonts/themify/themify.eot?#iefix-fvbane') format('embedded-opentype'),
		url('../../fonts/themify/themify.woff?-fvbane') format('woff'),
		url('../../fonts/themify/themify.ttf?-fvbane') format('truetype'),
		url('../../fonts/themify/themify.svg?-fvbane#themify') format('svg');
	font-weight: normal;
	font-style: normal;
}
