/**=====================
  4.3 Update CSS Start
==========================**/
@import "../utils/variables";

// jsgrid css
.jsgrid-filter-row {

    select,
    input {
        padding: 6px 10px;
        border: 1px solid $horizontal-border-color;
        background: $white;
    }
}

.owl-theme .owl-nav [class*=owl-] {
    color: $primary-color;
    background-color: #F9FAFC;
}

hr {
    border: 1px solid $light-semi-gray;
    opacity: 1;
}

.angular-editor-textarea {
    outline: none;
}

ngb-datepicker-navigation-select {
    >.form-select {
        margin-left: 4px;
    }
}

.NgxEditor__MenuItem.NgxEditor__MenuItem--Active,
.NgxEditor__MenuItem .NgxEditor__MenuItem--Active {
    background-color: rgba($primary-color, 0.1) !important;
    color: $primary-color !important;
}

.NgxEditor__Content {
    background-color: #f5f5f5;
}

.NgxEditor__MenuBar {
    background-color: #f5f5f5 !important;
}

.pagination {
    .page-item {
        &.active {
            .page-link {
                background-color: $primary-color;
                color: $white;
            }
        }

        .page-link {
            color: $theme-body-font-color;
        }
    }
}

.default-dashboard,
.dashboard2,
.dashboard3 {
    .header-top {
        .card-header-right-icon {
            .dropdown {
                .dropdown-toggle {
                    background-color: var(--light-bg);
                    color: var(--body-light-font-color);
                }

                &.icon-dropdown {
                    .dropdown-toggle {
                        background: transparent;
                    }
                }
            }
        }
    }
}

// tooltip css start
.tooltip {
    &.bs-tooltip-top {
        .tooltip-arrow {
            &:before {
                border-top-color: $light-primary;
            }
        }
    }

    &.bs-tooltip-bottom {
        .tooltip-arrow {
            &:before {
                border-bottom-color: $light-primary;
                border-top-color: transparent;
            }
        }
    }

    &.bs-tooltip-start {
        .tooltip-arrow {
            &:before {
                border-left-color: $light-primary;
                border-top-color: transparent;
            }
        }
    }

    &.bs-tooltip-end {
        .tooltip-arrow {
            &:before {
                border-right-color: $light-primary;
                border-top-color: transparent;
            }
        }
    }

    .tooltip-inner {
        background-color: $light-primary;
        color: $primary-color;
    }

    .tooltip-arrow {
        &:before {
            border-top-color: $light-primary;
        }
    }
}

.cal-month-view {
    .cal-day-badge {
        background-color: var(--theme-deafult);
    }

    .cal-event {
        background-color: var(--theme-deafult) !important;
    }

    .cal-day-cell {
        &.cal-today {
            background-color: transparent;
        }
    }
}

.form-select {
    direction: ltr;
}

.NgxEditor__Dropdown .NgxEditor__Dropdown--Selected,
.NgxEditor__Dropdown .NgxEditor__Dropdown--Open {
    background-color: rgba($primary-color, 0.1) !important;
    color: var(--theme-deafult) !important;
}

.NgxEditor__Popup--Col {
    input {
        background-color: $light-gray;
        outline: none;
        border: none;
    }
}

.ae-font .ae-picker-options .ae-picker-item.focused,
.ae-font .ae-picker-options .ae-picker-item:hover {
    background-color: rgba($primary-color, 0.1) !important;
    color: var(--theme-deafult) !important;
}

.cal-week-view {
    .cal-header {
        &.cal-today {
            background-color: var(--theme-deafult);
        }
    }

    .cal-event {
        color: var(--theme-deafult);
    }
}

.br-default {
    --br-font-size: 16px;
}

.chart-widget-top {
    margin-bottom: -20px;
}

// tooltip css end
.input-group {
    .btn {
        z-index: 1;
    }
}

.dp-hidden {
    .input-group {
        input {
            opacity: 0;
        }
    }
}

// dropdown css start
.dropdown-basic {
    .dropdown {
        .dropdown-content {
            a {
                padding: 6px 16px;
                color: $dark-editor-document;
                font-size: 13px;
                border-top: 1px solid $light-semi-gray;
                background: $white;

                &:hover {
                    background-color: $white;
                }
            }

            .dropdown-header {
                padding: 8px 16px;
                font-weight: 400;
                color: $dark-color;
                font-size: 13px;
            }
        }
    }

    .dropup {
        .dropup-content {
            top: auto;
        }
    }
}

// dropdown css end

// accordian css start
.default-according {
    .card {
        .card-header {
            padding: 0;
            border: none;
            border-radius: 0;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            &.bg-primary,
            &.bg-secondary {
                .btn {
                    border-color: $transparent-color;
                }
            }

            i {
                position: initial;
                font-size: 20px;
                display: inline-block;
                vertical-align: text-bottom;
                margin-right: 5px;

                [dir="rtl"] & {
                    margin-right: unset;
                    margin-left: 5px;
                }
            }

            h5 {
                margin-top: 0;
            }

            .btn-link {
                padding: 12px 18px;
                gap: 8px;
                letter-spacing: 0.7px;
                font-family: Inter;
                border: 1px solid $light-semi-gray;
                border-radius: 0;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;

                [dir="rtl"] & {
                    text-align: right;
                }

                @media (max-width: 575px) {
                    padding: 12px 15px;
                }
            }
        }

        .card-body {
            padding: 15px 20px;
            line-height: 1.8;
            font-size: 13px;
            border-color: $light-semi-gray;
            border-radius: 0;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            color: $dark-color;
        }
    }
}

// accordian css end

// tab-bootstrap css start
.nav-tabs {
    border-bottom-color: $light-semi-gray;

    .nav-bottom {
        .nav-item {
            .nav-link.active {
                border-color: $light-semi-gray;
            }
        }
    }
}

.nav-tabs {
    .nav-item {
        &.show {
            .nav-link {
                font-weight: 500;
            }
        }
    }

    .nav-link {
        color: $dark-color;

        &.active {
            font-weight: 500;
        }
    }

    &.nav-bottom {
        .nav-item {
            .nav-link {
                &.active {
                    border-color: $light-gray $light-gray #fff;
                }
            }
        }
    }
}

.dropdown-menu {
    -webkit-box-shadow: 0 0 20px rgba(89, 102, 122, 0.1);
    box-shadow: 0 0 20px rgba(89, 102, 122, 0.1);
    border: none;
    padding: 0;
    z-index: 2;

    .dropdown-item {
        color: #2b2b2b;
        font-size: 13px;
        padding: 6px 12px;
        border-top: 1px solid $light-semi-gray;
        background: var(--white);

        &:hover {
            background-color: var(--white);
        }
    }

    .dropdown-divider {
        margin: 0;
        border-top: 1px solid $gray-60;
    }
}

// tab-bootstrap css end

.border-tab {
    .nav-tabs {
        .nav-item {
            .nav-link {
                &.active {
                    border-bottom: 2px solid $primary-color;
                }

                &.show {
                    border-bottom: 2px solid $primary-color;
                }

                &:focus {
                    border-bottom: 2px solid $primary-color;
                }
            }
        }
    }
}

.timeliny {
    .timeliny-dot::before {
        font-size: $btn-lg-font-size;
    }
}

.component {
    .input-group {
        .btn {
            line-height: 32px;
            text-transform: capitalize;
        }
    }
}

.login-card {
    .login-main {
        .theme-form {
            label {
                font-size: $body-font-size;
            }

            .show-hide {
                top: 50%;
            }
        }
    }
}

// faq css end
.job-filter {
    .faq-form {
        .form-control {
            font-size: 14px;
        }

        .search-icon {
            width: 16px;
            height: 16px;
        }
    }
}

// editor css
.note-btn-group {
    .dropdown-toggle {
        &.show {
            ~.dropdown-menu {
                display: block;
                top: 30px;
            }
        }
    }
}

// owl-carousel css
.carousel {
    .carousel-indicators {
        margin-bottom: 3px;
    }
}

.mouse-wheel {
    .owl-stage-outer {
        .owl-stage {
            width: 5600px !important;

            .owl-item {
                width: 225.333px !important;
            }
        }
    }
}

.carousel-item {
    .carousel-caption {
        width: 100%;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 26px 10px;
        background-color: rgba($dark-card-background, 0.51);
    }

    .carousel-opacity {
        background-color: rgba($light-color, 0.51);
    }
}

.carousel {
    .carousel-control-prev-icon {
        width: calc(23px + (32 - 23) * ((100vw - 320px) / (1920 - 320)));
        height: calc(23px + (32 - 23) * ((100vw - 320px) / (1920 - 320)));
    }

    .carousel-control-next-icon {
        width: calc(23px + (32 - 23) * ((100vw - 320px) / (1920 - 320)));
        height: calc(23px + (32 - 23) * ((100vw - 320px) / (1920 - 320)));

    }
}

// Rating 
.rating-header {
    h4 {
        [dir="rtl"] & {
            direction: ltr;
        }
    }
}

// Animated modal
.animate-img {
    .animate-widget {
        img {
            width: 100%;
            height: 480px;
            margin: 0 auto;
            object-fit: cover;

            @media (max-width:575px) {
                height: 300px;
            }
        }
    }
}

.modal-popup {
    &.modal {
        top: 20%;
        left: 50%;
        transform: translate(-50%, 0);

        .modal-dialog {
            .theme-close {
                width: calc(25px + (40 - 25) * ((100vw - 320px) / (1920 - 320)));
                height: calc(25px + (40 - 25) * ((100vw - 320px) / (1920 - 320)));
                font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1920 - 320)));
            }
        }
    }
}

.animated-modal {
    .form-select {
        @media (max-width:442px) {
            width: 100% !important;
        }

        &:focus {
            box-shadow: unset;
            border-color: unset;
        }
    }
}

// TO-DO scss
.task-container {
    .badge {
        line-height: 13px;
    }
}

// Add-post scss
.add-post {
    form {
        .form-control {
            &:focus {
                border: 1px solid var(--recent-dashed-border);
                box-shadow: unset;
            }
        }
    }
}

// Modal page
.modal {
    .modal-body {
        .card {
            box-shadow: none !important;
        }
    }
}

.modal-dialog {
    .modal-content {
        .modal-body {
            p {
                a {
                    margin-right: 0;
                }
            }
        }
    }
}

.alert-theme {
    button {
        top: 45px !important;
        right: 20px !important;
        color: var(--theme-deafult);

        [dir="rtl"] & {
            right: unset !important;
            left: 20px !important;
        }
    }

    span {
        +span {
            +span {
                background-color: $white;
                color: var(--theme-deafult);
                border-radius: 4px;
                box-shadow: 0 2px 14px -3px rgba($black, 0.2);
            }
        }
    }

    .close {
        color: var(--theme-deafult);
    }

    i {
        padding: 20px;
        padding-right: 0 !important;
        margin-right: 20px !important;
    }

    .progress {
        margin-top: -2px !important;
        height: 2px;
        width: 100%;

        .progress-bar {
            background-color: var(--theme-deafult);
        }
    }
}


.ace-editor {
    height: 400px;
    width: 100%;
}

.editor-toolbar {
    width: 100% !important;

    &.fullscreen {
        z-index: 100;
    }
}

.CodeMirror {
    top: 0 !important;
}

.CodeMirror-fullscreen {
    top: 50px !important;
}

// rangeslider
.irs-from,
.irs-to,
.irs-single {
    background: var(--theme-deafult);

    &:after {
        border-top-color: var(--theme-deafult);
    }
}

.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-bar,
.irs-bar-edge {
    background-color: var(--theme-deafult);
}

// sweetalert css
.swal-button {
    background-color: var(--theme-deafult);

    &:active {
        background-color: darken($primary-color, 5%);
    }
}

.swal-button--cancel {
    background-color: #EFEFEE !important;
}

.clipboaard-container {
    h6 {
        line-height: 1.6;
        font-size: $paragraph-font-size;
    }
}

fieldset {

    .bootstrap-touchspin-postfix,
    .bootstrap-touchspin-prefix {
        border-radius: 0;
        padding: .4rem .75rem;
    }

    .input-group-lg {
        .touchspin {
            height: 50px;
        }
    }
}

.f1 .f1-steps .f1-step .f1-step-icon {
    padding: 12px;
}

.form-inline .form-group {
    display: flex;
}

.input-group-text {
    i {
        line-height: 1.5;
    }
}

// animated modal css
.animated-modal {
    .form-select {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
}

.card-wrapper {
    padding: 14px;

    dl {
        dt {
            font-weight: 500;
        }

        dd {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

// starter kit
// .starter-main {
//     .card-body {
//         p {
//             font-size: 14px;
//         }

//         ul {
//             padding-left: 30px;
//             list-style-type: disc;
//             margin-bottom: 15px;
//         }

//         h5 {
//             font-size: 18px;
//         }

//         pre {
//             white-space: pre-line;
//             padding: 30px;
//         }

//         .alert-primary {
//             &.inverse {
//                 &:before {
//                     top: 32px;
//                 }
//             }
//         }
//     }

//     .alert {
//         background-color: rgba(68, 102, 242, 0.2) !important;

//         i {
//             display: flex;
//             align-items: center;
//         }
//     }
// }

.starter-main {
    .alert-primary {
        &.inverse {
            padding: 13px 20px 13px 65px;
            border-color: $primary-color;
            color: $dark-color;

            [dir="rtl"] & {
                padding: 13px 65px 13px 20px;
            }

            &:before {
                content: "";
                position: absolute;
                left: 46px;
                width: 15px;
                height: 15px;
                top: 50%;
                background-color: var(--theme-deafult);
                transform: translateY(-50%) rotate(45deg);

                [dir="rtl"] & {
                    left: unset;
                    right: 46px;
                }
            }

            i {
                padding: 17px 20px;
                display: flex;
                align-items: center;
                background-color: $primary-color;
                color: $white;
                border-radius: 3px 0 0 3px;
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;

                [dir="rtl"] & {
                    right: 0;
                    left: unset;
                }
            }
        }
    }

    .alert {
        background-color: rgba(0, 157, 181, 0.4);
    }

    .card-body {
        ul {
            margin-bottom: 14px;
        }

        dl {
            dd {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

// owl carousel css
.owl-theme {
    .owl-dots {
        button {
            span {
                @media (max-width:575px) {
                    margin: 5px !important;
                }
            }
        }

        .owl-dot {
            span {
                background: lighten($primary-color, 15%);
            }

            &.active,
            &:hover {
                span {
                    background: var(--theme-deafult);
                }
            }
        }
    }

    .owl-nav {
        &.disabled {
            &+.owl-dots {
                margin-bottom: -10px;
                margin-top: 25px;
            }
        }
    }

}

.deal-slider {
    .swiper {
        .swiper-wrapper {
            .owl-carousel {
                @media (max-width:767px) {
                    z-index: 0 !important;
                }
            }
        }
    }

    .owl-theme {
        .owl-nav {
            &.disabled {
                &+.owl-dots {
                    margin-bottom: 0px;
                    margin-top: 0px;
                }
            }
        }

        .owl-dots {
            .owl-dot {
                &.active {
                    span {
                        width: 11px;
                    }
                }

                span {
                    margin: 0px 4px;

                    @media screen and (max-width: 1600px) {
                        margin: 0px 2px;
                    }

                    width: 5px;
                    height: 4px;
                    border-radius: 50%;
                }
            }
        }
    }
}

.revenue-slider-wrapper {
    .owl-theme {
        .owl-nav {
            &.disabled {
                &+.owl-dots {
                    margin-bottom: 0px;
                    margin-top: 0px;
                }
            }
        }

        .owl-dots {
            .owl-dot {
                &.active {
                    span {
                        width: 18px;
                    }
                }

                span {
                    margin: 0px 7px;
                    width: 5px;
                    height: 4px;
                    border-radius: 50%;
                }
            }
        }
    }
}

// input-mask
.input-mask {
    .card-wrapper {
        .form-control {
            font-size: 14px;
        }
    }
}


// Todo
.todo {
    .todo-list-container {
        .mark-all-tasks {
            top: 12px !important;
        }
    }
}

.todo {
    .todo-list-wrapper {
        .mark-all-tasks {
            .mark-all-btn#mark-all-incomplete {
                .action-box {
                    border-color: $success-color !important;
                }
            }

            .mark-all-btn#mark-all-incomplete {
                color: $success-color !important;
            }

            .mark-all-btn#mark-all-finished {
                color: $danger-color !important;
            }
        }

        .task {
            .task-container {
                .task-label {
                    font-size: 16px !important;
                    color: var(--body-light-font-color) !important;
                }
            }
        }
    }

    .action-box {
        &.completed {
            background-color: $danger-color !important;
            border-color: $danger-color !important;
        }
    }

    .todo-list-footer {
        .new-task-wrapper {
            &.visible {
                margin-bottom: 16px;
            }
        }
    }
}

.calendar-wrapper {
    .ngb-dp-header {
        background-color: var(--white) !important;
    }

    ngb-datepicker {
        width: 100% !important;
        border: unset;

        .ngb-dp-content {
            .ngb-dp-week {
                .btn-light {
                    &:hover {
                        background-color: $primary-color !important;
                        border-color: $primary-color !important;
                        color: $white;
                        outline: 0;
                    }
                }
            }
        }
    }

    .ngb-dp-weekdays {
        border-bottom: none !important;
        background-color: var(--white) !important;
    }

    .ngb-dp-month {
        width: 100% !important;
    }

    .ngb-dp-weekday {
        font-style: unset;
        width: 100% !important;
    }

    .ngb-dp-navigation-select {
        gap: 15px;
    }

    .ngb-dp-week {
        width: 100% !important;
        border-radius: 0px;

        .ngb-dp-day[tabindex="0"] {
            @media (max-width:768px) {
                z-index: 0 !important;
            }
        }
    }

    .ngb-dp-day {
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;

        .btn-light {
            background-color: var(--white) !important;
        }
    }

    ngb-datepicker {
        .ngb-dp-content {
            .ngb-dp-week {
                .btn-light.text-white {
                    background-color: $primary-color !important;
                    border: 1px solid $primary-color !important;
                    color: $white !important;
                }
            }
        }
    }

}

.weekly-visitors-widgets {
    .card {
        .card-header {
            padding-bottom: 0;
        }

        .card-body {
            padding-bottom: 0;
        }
    }
}

.projects-overview-Widgets {
    .card {
        .card-body {
            padding-top: 20px !important;
        }
    }
}

.ngb-dp-arrow-btn {
    z-index: 0 !important;
}

.total-profit-widgets {
    .card {
        .card-body {
            padding-top: 20px !important;
        }
    }
}

.recent-update {
    .owl-theme {
        .owl-nav {
            margin-top: -10px;
        }
    }
}

.angular-editor-toolbar {
    .angular-editor-toolbar-set {
        .angular-editor-button.active {
            &:hover {
                background-color: rgba($primary-color, 0.1) !important;
            }

            &.active {
                background-color: rgba($primary-color, 0.1) !important;
            }

            &:active {
                background-color: rgba($primary-color, 0.1) !important;
            }
        }
    }
}

.project-datatable {
    table {
        tbody {
            tr {
                &:hover {
                    background-color: rgba($primary-color, 0.1);
                }

                td {
                    ul {
                        li {
                            &:last-child {
                                .light-card {
                                    width: 30px;
                                    height: 30px;
                                    display: flex !important;
                                    align-items: center;
                                    justify-content: center;
                                    border-radius: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.light-card-2 {
    &.recent-project-wrapper {
        .customers {
            ul {
                li {
                    + {
                        li {
                            &:last-child {
                                vertical-align: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1730px) and (min-width: 1199px) {
    .project-custom-slider {
        width: 100% !important;

        &:nth-child(3) {
            display: none;
        }

        &:last-child {
            display: none;
        }
    }
}

// Dragable-card
.ui-sortable {
    .list-group {
        .list-group-item {
            &.active {
                z-index: 0 !important;
            }
        }
    }
}

.customize-dropzone {
    border: 2px dashed $primary-color !important;
    border-radius: 15px;

    dropzone {
        >.dropzone.dz-wrapper {
            background-color: unset;
            border: none !important;
            margin: 0px auto;

            .dz-message {
                padding-top: 15px;
                background-color: unset;
                border: none;
                margin: 0px !important;
                min-height: 77px;
                overflow: hidden;

                .dz-text {
                    background-color: unset;
                    border: none;
                    padding: 0px !important;

                    i {
                        font-size: 40px !important;
                    }
                }
            }
        }

        .dz-preview {
            .dz-image {
                height: 120px !important;
                width: 120px !important;
                margin: 0 auto;
            }

            .dz-details {
                z-index: 8 !important;
            }

            .dz-remove {
                position: relative;
                z-index: 8 !important;
            }
        }

        .dz-wrapper {
            &.dz-single {
                .dz-preview {
                    width: 120px !important;
                }
            }
        }

        .dz-details {
            padding: 0;
        }
    }
}

/**=====================
    4.3 Update CSS Ends
==========================**/